<h2><%= t('new.title') %></h2>


 
<%= form_with(model: @task, local: true ,data:{ turbo: false } ,class: "max-w-md mx-auto mt-8") do |form| %>
   
  <% if @task.errors.any? %>
    <div id="error_explanation" class="bg-red-200 p-2 ">
      <h2><%= pluralize(@task.errors.count, "error") %></h2>

      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :task_name, t('new.form_title') , class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :task_name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :description, t('new.form_description') , class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_area :description, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline h-32" %>
  </div>

    <div class="mb-4">
    <%= form.label  t('new.done_at') , class: "block text-gray-700 text-sm font-bold mb-2" %>
    <div class='flex'>
      <%= form.datetime_field :done_at , class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
  </div>
  
  <div class="flex items-center justify-between">
    <%= form.submit t('new.form_submit') , class: "bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded" %>
  </div>
    
<% end %>
