<h2><%= t('update.title')%></h2>

<div class="container mx-auto max-w-80">
<%= form_with(model: @task, data: { turbo: false }, class: "py-10", id: 'task-form') do |form|  %>
  <% if @task.errors.any? %>
    <div id="error_explanation" class="bg-red-200 p-2 ">
      <h2><%= pluralize(@task.errors.count, "error") %></h2>

      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :task_name, t('update.form_title'), class:'block text-sm font-bold mb-2'%>
    <%= form.text_field :task_name ,  class:'shadow border rounded w-full py-2 px-3 focus:outline-none'%>
  </div>

  <div class='mt-4'>
    <%= form.label :description, t('update.form_description') , class: 'block text-sm font-bold mb-2' %>
    <%= form.text_area :description , class: 'shadow border rounded w-full py-2 px-3 focus:outline-none ' %>
  </div>

  <div class="mb-4">
    <%= form.label :done_at, t('new.done_at') , class: "block text-gray-700 text-sm font-bold mb-2" %>
    <div class='flex'>
    <%# <%= form.date_field :date , value: @task.done_at&.strftime("%Y-%M-%d") ,  class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    <%= form.datetime_field :done_at  ,  class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
  </div>

  <div>
    <%= form.submit t('update.form_submit') , class:'bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded' %>
  </div>
<% end %>

<%= link_to t('update.go_back'), tasks_path %>    
</div>
